
/* Main Layout Styles */
body {
	font-family: Open Sans, sans-serif;
	font-size: 1.1em;
	line-height: 1em;
	margin: 0;
	padding: 0;
	z-index: 1;
	overflow-x: hidden;
}
#main {
	margin: 40px;
	background-color: fff;
	max-width: 900px;
	margin: 0 auto;
}
header {
	width: 100%;
	margin: 0;
	padding: 20px 40px;
	height: 85px;
	border-bottom: 1px dotted #ddd;
	background-color: #eee;
	z-index: 99;
}
footer {
	margin: 40px;
	border-top: 1px solid #CCC;
}
#notifications {
	margin: 40px 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 60%;
	text-align: right;
}
.notificationsBar, .friendsBar {
	position: absolute;
	right: 0;
	top: 85px;
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 10px;
	z-index: 100;
}
#notifications > form {
	display: inline;
	position: relative;
	top: 40px;
}

#msg {
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left:-100px;
	width: 300px;
	border: 1px dotted #eee;
	background-color: #ddd;
	padding: 10px;
	z-index: 101;
    opacity: 0;
    visibility: hidden;
    
    animation: fade 6.6s;
    -moz-animation: fade 6.6s;
    -webkit-animation: fade 6.6s;
    -o-animation: fade 6.6s;
}
@keyframes fade {
	0%   {opacity:1; position: fixed; visibility: visible;}
	75%  {opacity:1; position: fixed; visibility: visible;}
	100% {opacity:0; position: fixed; visibility: hidden;}
}
@-moz-keyframes fade {
	0%   {opacity:1; position: fixed; visibility: visible;}
	75%  {opacity:1; position: fixed; visibility: visible;}
	100% {opacity:0; position: fixed; visibility: hidden;}
}
@-webkit-keyframes fade {
	0%   {opacity:1; position: fixed; visibility: visible;}
	75%  {opacity:1; position: fixed; visibility: visible;}
	100% {opacity:0; position: fixed; visibility: hidden;}
}
@-o-keyframes fade {
	0%   {opacity:1; position: fixed; visibility: visible;}
	75%  {opacity:1; position: fixed; visibility: visible;}
	100% {opacity:0; position: fixed; visibility: hidden;}
}

#deleteMsg {
	position: absolute;
	top: 15px;
	right: 15px;
}
/* End Main Layout Styles */

/* General Styling */
ul {
	list-style: none;
}
form {
	line-height: 40px;
}
#loginForm input:not([type="submit"]):not([type="checkbox"]), #registerForm input:not([type="submit"]):not([type="checkbox"]) {
	border: 1tpx solid #999;
	height: 30px;
	float: right;
}
#search, #posts, form[name="createPost"] {
	margin: 20px 0;
	padding: 20px 0;
	border: 1px solid #eee;
}
input[type="submit"], input[type="button"] {
	margin: 5px;
	padding: 5px;
	font-size: 0.8em;
	background-color: #ddd;
	background: url(overlay.png) repeat-x center #ddd;
	border: 1px dotted #eee;
}
input[type="submit"]:hover, input[type="button"]:hover {
	background: url(overlay.png) repeat-x center #eee;
	border: 1px dotted #fff;
}
textarea {
	width: 85%;
	padding: 20px;
	margin: 0;
	height: 50px;
	border: 1px solid #999;
}
img {
	max-width: 500px;
}
#posts {
	display: block;
}
iframe {
	display: block;
	z-index: 1;
}
/* End General Styling*/

/* Text Styling */
h1, h2, h3, h4, h5 {
	font-family: Oxygen, sans-serif;
}
a {
	color: #333;
}
a:visited {
	color: #555;
}
a:hover {
	color: #777;
}
#deleteMsg:hover {
	cursor: pointer;
}
.error {
	color: red;
}
.postTitle, .postTitle + p {
	margin: 10px 0;
}
#posts li {
	margin: 50px 0;
}
#posts li ul li {
	margin: 10px;
}
/* End Text Styling */
